{% extends 'base.html.twig' %}

{% block title %}Edit FindPlace{% endblock %}

{% block body %}
    <h1>Edit FindPlace</h1>

    {{ include('find_place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_find_place_index') }}">back to list</a>

    {{ include('find_place/_delete_form.html.twig') }}
{% endblock %}
