{% extends 'base.html.twig' %}

{% block title %}New Arh{% endblock %}

{% block body %}
    <h1>Create new Arh</h1>

    {{ include('arh/_form.html.twig') }}

    <a href="{{ path('app_arh_index') }}">back to list</a>
{% endblock %}
